{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'encyclopedia/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="sidebar col-lg-2 col-md-3">

        <h2>Енциклопедія</h2>
        <form class="form-search" action="{% url 'encyclopedia:search' %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" name="q" class="form-control" placeholder="Пошук у Енциклопедії">
                <button class="btn btn-primary input-group-text" type="submit">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </button>
            </div>
        </form>

        <div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'encyclopedia:index' %}">Головна сторінка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'encyclopedia:add' %}">Створити статтю</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'encyclopedia:random' %}">Випадкова стаття</a>
                </li>
            </ul>
        </div>

        {% block nav %}
        {% endblock %}

    </div>
    <div class="main col-lg-10 col-md-9">

        {% block body %}
        {% endblock %}

    </div>
</div>

</body>
</html>
